[submodule "modules/mod-aoe-loot"]
	path = modules/mod-aoe-loot
	url = https://github.com/azerothcore/mod-aoe-loot.git
[submodule "modules/mod-eluna"]
	path = modules/mod-eluna
	url = https://github.com/azerothcore/mod-eluna.git
[submodule "modules/mod-individual-progression"]
	path = modules/mod-individual-progression
	url = https://github.com/ZhengPeiRu21/mod-individual-progression.git
[submodule "modules/mod-challenge-modes"]
	path = modules/mod-challenge-modes
	url = https://github.com/ZhengPeiRu21/mod-challenge-modes.git
[submodule "modules/mod-arac"]
	path = modules/mod-arac
	url = https://github.com/heyitsbench/mod-arac.git
[submodule "modules/mod-guildhouse"]
	path = modules/mod-guildhouse
	url = https://github.com/azerothcore/mod-guildhouse.git
[submodule "modules/mod-npc-enchanter"]
	path = modules/mod-npc-enchanter
	url = https://github.com/azerothcore/mod-npc-enchanter.git
